<a href="https://colab.research.google.com/github/cabbi120101/End-to-end/blob/master/%EB%A9%80%ED%8B%B0%EC%BA%A0%ED%8D%BC%EC%8A%A4_%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/%EB%A7%88%EC%A7%80%EB%A7%89%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8/EDA%EC%8B%9C%EC%9E%91.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import ast
import json
import os
from tqdm.notebook import tqdm
import pandas as pd

In [3]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_match_info.csv")
data.head()

   gameCreation  gameDuration  ...  status.message status.status_code
0  1.585155e+12        1323.0  ...             NaN                NaN
1  1.585152e+12        1317.0  ...             NaN                NaN
2  1.585059e+12         932.0  ...             NaN                NaN
3  1.584978e+12        2098.0  ...             NaN                NaN
4  1.584973e+12        2344.0  ...             NaN                NaN

[5 rows x 12 columns]

In [4]:
for col in ('gameMode', 'gameType', 'gameVersion', 'mapId', 'platformId', 'queueId', 'seasonId'):
    print(f"{col}: {data[col].unique()}")
    print()

gameMode: ['CLASSIC' 'ARAM' 'ONEFORALL' 'URF' 'TUTORIAL_MODULE_3'
 'TUTORIAL_MODULE_1' 'KINGPORO' 'TUTORIAL_MODULE_2']

gameType: ['MATCHED_GAME']

gameVersion: ['10.6.314.4405' '10.6.313.8894' '10.6.313.2784' '10.5.312.392'
 '10.5.311.166' '10.4.308.9400' '10.3.307.7898' '10.3.307.1028'
 '10.2.305.4739' '10.1.303.9385' '9.24.300.6382' '9.23.299.3089'
 '9.23.298.8833' '9.22.296.5720' '10.1.303.6554' '9.13.280.4632'
 '9.21.294.813' '9.22.296.1221' '9.20.292.2452' '9.14.282.3231'
 '9.23.298.3143' '9.19.290.8808' '9.23.298.6855' '9.18.288.7871'
 '9.17.287.9350' '9.15.283.4011' '9.17.287.2485' '9.10.274.8345'
 '9.8.270.9450' '8.19.246.5109' '9.12.277.6038' '9.16.284.8446'
 '9.1.257.7563' '9.11.275.6613' '9.18.289.6958' '9.16.286.4937'
 '9.18.288.4125' '9.9.272.4950' '8.24.255.8524' '9.3.261.9578'
 '8.17.243.3340' '9.19.290.4926' '8.20.249.1952' '9.10.273.9316'
 '9.4.264.1140' '8.16.241.6543' '9.5.265.6479' '9.14.282.267'
 '9.7.270.125' '9.13.279.7717' '9.2.260.6714' '9.6.267.4221'
 '8.11.231.7304' '8.9.227.7511' '9.2.261.2172' '8.20.248.3196'
 '9.4.264.7309' '8.9.228.4283' '9.6.268.2663' '8.11.232.8721'
 '9.7.269.2391' '8.15.239.9021' '9.17.286.7872' '8.18.244.9800'
 '8.18.245.7444' '8.22.252.2691' '9.14.282.2273' '8.21.251.4430'
 '8.13.235.9749' '8.10.229.7328' '8.21.250.2733' '8.21.250.9462'
 '8.8.226.7254' '8.23.254.717']

mapId: [11. 12. 10.]

platformId: ['KR']

queueId: [ 420.  450.  430. 1020.  440.  850.  900.  700.  830.  840. 2020. 2000.
  920. 2010.  470.]

seasonId: [13. 11. 12.]

In [5]:
del data

import gc
gc.collect()

138

In [6]:
import ast
import json

## match info

In [7]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_match_info.csv")
data.head()

   gameCreation  gameDuration  ...  status.message status.status_code
0  1.585155e+12        1323.0  ...             NaN                NaN
1  1.585152e+12        1317.0  ...             NaN                NaN
2  1.585059e+12         932.0  ...             NaN                NaN
3  1.584978e+12        2098.0  ...             NaN                NaN
4  1.584973e+12        2344.0  ...             NaN                NaN

[5 rows x 12 columns]

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108829 entries, 0 to 108828
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   gameCreation        108829 non-null  float64
 1   gameDuration        108829 non-null  float64
 2   gameId              108829 non-null  float64
 3   gameMode            108829 non-null  object
 4   gameType            108829 non-null  object
 5   gameVersion         108829 non-null  object
 6   mapId               108829 non-null  float64
 7   platformId          108829 non-null  object
 8   queueId             108829 non-null  float64
 9   seasonId            108829 non-null  float64
 10  status.message      0 non-null       float64
 11  status.status_code  0 non-null       float64
dtypes: float64(8), object(4)
memory usage: 10.0+ MB

In [9]:
data.columns

Index(['gameCreation', 'gameDuration', 'gameId', 'gameMode', 'gameType',
       'gameVersion', 'mapId', 'platformId', 'queueId', 'seasonId',
       'status.message', 'status.status_code'],
      dtype='object')

In [11]:
for col in ( 'gameMode', 'gameType',
       'gameVersion', 'mapId', 'platformId', 'queueId', 'seasonId',
       'status.message', 'status.status_code'):
    print(f"{col}: {data[col].unique()}")
    print()

gameMode: ['CLASSIC' 'ARAM' 'ONEFORALL' 'URF' 'TUTORIAL_MODULE_3'
 'TUTORIAL_MODULE_1' 'KINGPORO' 'TUTORIAL_MODULE_2']

gameType: ['MATCHED_GAME']

gameVersion: ['10.6.314.4405' '10.6.313.8894' '10.6.313.2784' '10.5.312.392'
 '10.5.311.166' '10.4.308.9400' '10.3.307.7898' '10.3.307.1028'
 '10.2.305.4739' '10.1.303.9385' '9.24.300.6382' '9.23.299.3089'
 '9.23.298.8833' '9.22.296.5720' '10.1.303.6554' '9.13.280.4632'
 '9.21.294.813' '9.22.296.1221' '9.20.292.2452' '9.14.282.3231'
 '9.23.298.3143' '9.19.290.8808' '9.23.298.6855' '9.18.288.7871'
 '9.17.287.9350' '9.15.283.4011' '9.17.287.2485' '9.10.274.8345'
 '9.8.270.9450' '8.19.246.5109' '9.12.277.6038' '9.16.284.8446'
 '9.1.257.7563' '9.11.275.6613' '9.18.289.6958' '9.16.286.4937'
 '9.18.288.4125' '9.9.272.4950' '8.24.255.8524' '9.3.261.9578'
 '8.17.243.3340' '9.19.290.4926' '8.20.249.1952' '9.10.273.9316'
 '9.4.264.1140' '8.16.241.6543' '9.5.265.6479' '9.14.282.267'
 '9.7.270.125' '9.13.279.7717' '9.2.260.6714' '9.6.267.4221'
 '8.11.231.7304' '8.9.227.7511' '9.2.261.2172' '8.20.248.3196'
 '9.4.264.7309' '8.9.228.4283' '9.6.268.2663' '8.11.232.8721'
 '9.7.269.2391' '8.15.239.9021' '9.17.286.7872' '8.18.244.9800'
 '8.18.245.7444' '8.22.252.2691' '9.14.282.2273' '8.21.251.4430'
 '8.13.235.9749' '8.10.229.7328' '8.21.250.2733' '8.21.250.9462'
 '8.8.226.7254' '8.23.254.717']

mapId: [11. 12. 10.]

platformId: ['KR']

queueId: [ 420.  450.  430. 1020.  440.  850.  900.  700.  830.  840. 2020. 2000.
  920. 2010.  470.]

seasonId: [13. 11. 12.]

status.message: [nan]

status.status_code: [nan]

In [14]:
data = data[data['gameMode'] == 'CLASSIC']

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 92857 entries, 0 to 108826
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   gameCreation        92857 non-null  float64
 1   gameDuration        92857 non-null  float64
 2   gameId              92857 non-null  float64
 3   gameMode            92857 non-null  object
 4   gameType            92857 non-null  object
 5   gameVersion         92857 non-null  object
 6   mapId               92857 non-null  float64
 7   platformId          92857 non-null  object
 8   queueId             92857 non-null  float64
 9   seasonId            92857 non-null  float64
 10  status.message      0 non-null      float64
 11  status.status_code  0 non-null      float64
dtypes: float64(8), object(4)
memory usage: 9.2+ MB

In [16]:
del data

import gc
gc.collect()

288

## game_basic info

In [17]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_participant_game_basic_info.csv")
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   participantId  teamId  ...  highestAchievedSeasonTier        gameId
0              1     100  ...                        NaN  4.247263e+09
1              2     100  ...                        NaN  4.247263e+09
2              3     100  ...                        NaN  4.247263e+09
3              4     100  ...                        NaN  4.247263e+09
4              5     100  ...                        NaN  4.247263e+09

[5 rows x 7 columns]

In [18]:
data.columns

Index(['participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id',
       'highestAchievedSeasonTier', 'gameId'],
      dtype='object')

In [19]:
for col in ('participantId', 'teamId', 'championId', 'spell1Id', 'spell2Id',
       'highestAchievedSeasonTier'):
    print(f"{col}: {data[col].unique()}")
    print()

participantId: [ 1  2  3  4  5  6  7  8  9 10]

teamId: [100 200]

championId: [  7 350 266 517 110 235  81 127  84 421 236 245  57 126  58  15  60 223
 112  12 429  64  82 111 142  78  98 875  41  21 154 157 145  34  62   2
  83  18  44 203  39 523  22  79  55 122  59 555 497   9 412 163  25  80
 114 104 119  38  68 427 432  89  85  30 246  53   8  86 222  67   3 105
 103  76  91  24   5  43  69  61 202 113 164 134  51 201 106 107   4  31
 516  14  16 115 268 420 117  10 240  74  29 133 498  90 238  23 518  75
  13  54 131  56  48  20 141  40  26  27 102 120  28 121  32 136  99  72
 161  42 150  63   6  33  37 267  19  35  92  17  11   1 254  45  96  50
 101  36  77 143]

spell1Id: [ 1  3  4  7 11 14 21 12  6 13 32  0 30 31]

spell2Id: [ 4  7 12 11 21  3 14  1  6 32 13  0 31 30]

highestAchievedSeasonTier: [nan 'DIAMOND' 'MASTER' 'PLATINUM' 'GOLD' 'CHALLENGER' 'SILVER' 'UNRANKED'
 'BRONZE']

In [20]:
data.highestAchievedSeasonTier.unique()

array([nan, 'DIAMOND', 'MASTER', 'PLATINUM', 'GOLD', 'CHALLENGER',
       'SILVER', 'UNRANKED', 'BRONZE'], dtype=object)

In [21]:
len(data), data.championId.nunique(), data.spell1Id.nunique(), data.spell2Id.nunique()

(1087598, 148, 14, 14)

In [22]:
del data

import gc
gc.collect()

67

## match player id info

In [23]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_participant_id_info.csv")
data.head()

  platformId  ...        gameId
0         KR  ...  4.247263e+09
1         KR  ...  4.247263e+09
2         KR  ...  4.247263e+09
3         KR  ...  4.247263e+09
4         KR  ...  4.247263e+09

[5 rows x 10 columns]

In [24]:
data.accountId.nunique(), data.summonerName.nunique(), data.summonerId.nunique(), data.currentAccountId.nunique()

(202610, 221739, 202609, 202610)

In [25]:
data.matchHistoryUri.nunique(), data.gameId.nunique(), data.profileIcon.nunique()

(202618, 108773, 1419)

In [28]:
del data

import gc
gc.collect()

141

## game  stats info

In [29]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_participant_game_stats_info.csv")
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,11) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         gameId  participantId  assists  ...  wardsKilled  wardsPlaced    win
0  4.247263e+09              1        3  ...          1.0          6.0  False
1  4.247263e+09              2       10  ...          1.0         17.0  False
2  4.247263e+09              3        2  ...          1.0          5.0  False
3  4.247263e+09              4        4  ...          3.0          5.0  False
4  4.247263e+09              5        3  ...          7.0          5.0  False

[5 rows x 105 columns]

In [30]:
data.columns

Index(['gameId', 'participantId', 'assists', 'champLevel', 'combatPlayerScore',
       'damageDealtToObjectives', 'damageDealtToTurrets',
       'damageSelfMitigated', 'deaths', 'doubleKills',
       ...
       'trueDamageDealt', 'trueDamageDealtToChampions', 'trueDamageTaken',
       'turretKills', 'unrealKills', 'visionScore', 'visionWardsBoughtInGame',
       'wardsKilled', 'wardsPlaced', 'win'],
      dtype='object', length=105)

In [31]:
del data

import gc
gc.collect()

803

In [37]:
data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/동욱코드모음/마지막프로젝트/3주차/시도/match_data_version1_participant_timeline_info.csv")
data.head(12)

          gameId  ...                        damageTakenDiffPerMinDeltas
0   4.247263e+09  ...                                                NaN
1   4.247263e+09  ...                                                NaN
2   4.247263e+09  ...  {'10-20': -13.000000000000114, '0-10': -52.400...
3   4.247263e+09  ...  {'10-20': -38.60000000000002, '0-10': 173.3999...
4   4.247263e+09  ...                                                NaN
5   4.247263e+09  ...                                                NaN
6   4.247263e+09  ...                                                NaN
7   4.247263e+09  ...                                                NaN
8   4.247263e+09  ...  {'10-20': 13.000000000000114, '0-10': 52.40000...
9   4.247263e+09  ...  {'10-20': 38.60000000000002, '0-10': -173.3999...
10  4.247156e+09  ...                                                NaN
11  4.247156e+09  ...  {'10-20': -283.2000000000001, '0-10': -217.499...

[12 rows x 11 columns]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1088158 entries, 0 to 1088157
Data columns (total 11 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   gameId                       1088158 non-null  float64
 1   participantId                1088158 non-null  int64
 2   role                         1088158 non-null  object
 3   lane                         1088158 non-null  object
 4   creepsPerMinDeltas           1067916 non-null  object
 5   csDiffPerMinDeltas           821402 non-null   object
 6   xpPerMinDeltas               1067916 non-null  object
 7   xpDiffPerMinDeltas           821402 non-null   object
 8   goldPerMinDeltas             1067916 non-null  object
 9   damageTakenPerMinDeltas      1067916 non-null  object
 10  damageTakenDiffPerMinDeltas  821402 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 91.3+ MB

In [34]:
data.columns

Index(['gameId', 'participantId', 'role', 'lane', 'creepsPerMinDeltas',
       'csDiffPerMinDeltas', 'xpPerMinDeltas', 'xpDiffPerMinDeltas',
       'goldPerMinDeltas', 'damageTakenPerMinDeltas',
       'damageTakenDiffPerMinDeltas'],
      dtype='object')

In [35]:
for col in ('participantId', 'role', 'lane'):
    print(f"{col}: {data[col].unique()}")
    print()

participantId: [ 1  2  3  4  5  6  7  8  9 10]

role: ['DUO_CARRY' 'DUO_SUPPORT' 'SOLO' 'NONE' 'DUO']

lane: ['MIDDLE' 'TOP' 'JUNGLE' 'BOTTOM' 'NONE']